## Jetbrains
.idea

## MacOS
.DS_Store

## Sublime Text
*.sublime*
.sublime*
.tags
.tags_sorted_by_file

## Composer and vendor files
composer.lock
vendor/

## Vagrant
.vagrant

## Git
*~*
*conflicted*

## Overrides
*override.php
www/lib/Override.js